body{
    background-color: grey;
}

h1{
    background-color:blue;
    font-size: 24px;
    border: 1px;
    padding: 8px;
    margin: 12px;

}

li{
    
    padding: 6px;
    margin: 6px;
}

button{
    font-size: 16px;
    background-color: aqua;
    
    padding: 8px;
    border-radius: 12px;
    
}

button:hover {
    background-color: red;
    font-weight: bold;
}